<!DOCTYPE html>
<html>

<head>
  <title>Основная страница</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      /* decrease table size */
      width: 60%;
      border-collapse: collapse;
      background-color: #e8f5e9;
    }

    th,
    td {
      /* decrease cell size */
      border: 1px solid #4caf50;
      padding: 10px;
      /* align text to left */
      text-align: left;
      /* set width for all cells */
      width: 10%;
    }

    th {
      background-color: #4caf50;
      color: white;
    }

    th:last-child {
      /* increase width for cell with buttons */
      width: 20%;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #ddd;
    }

    /* design for forms div */
    .forms {
      display: flex;
      justify-content: space-between;
    }

    form {
      margin-right: 5px;
    }

    input[type=submit] {
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      text-decoration: none;
      margin: 2px 2px;
      transition-duration: 0.4s;
      background-color: #4caf50;
      color: white;
      font-weight: bold;
    }

    input[type=submit]:hover {
      background-color: #696969;
    }
  </style>
</head>

<body>
  <h1>Модели машин</h1>
  <% if (data && data.length) { %>
    <table>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цвет</th>
        <th>Обивка</th>
        <th>Мощность двигателя</th>
        <th>Количество дверей</th>
        <th>Коробка передач</th>
        <th>Номер поставщика</th>
        <th>Действия</th>
      </tr>
      <% data.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= item.model_name %>
          </td>
          <td>
            <%= item.color %>
          </td>
          <td>
            <%= item.obivka %>
          </td>
          <td>
            <%= item.engine_power %>
          </td>
          <td>
            <%= item.door_number %>
          </td>
          <td>
            <%= item.korobka_peredach %>
          </td>
          <td>
            <%= item.id_postavshika %>
          </td>
          <td>
            <!-- div contains forms -->
            <div class="forms">
              <!-- кнопка Изменить -->
              <form action="/edit-model" method="GET">
                <input type="hidden" name="id" value="<%= item.id %>">
                <input type="submit" value="Изменить">
              </form>
              <!-- кнопка Удалить -->
              <form action="delete-model" method="POST">
                <input type="submit" value="Удалить">
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
    </table>
    <% } else { %>
      <p>Нет данных для вывода.</p>
      <% } %>

        <br>
        <!-- кнопка создать -->
        <form action="/create-model/" method="POST">
          <input type="submit" value="Создать">
        </form>
</body>

</html>