<!DOCTYPE html>
<html>

<head>
    <title>Редактирование модели</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1>Редактирование модели</h1>
    <form action="/models/<%= data.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label for="model_name">Название:</label>
        <input type="text" id="model_name" name="model_name" value="<%= data.model_name %>" required>
        <br>
        <label for="color">Цвет:</label>
        <input type="text" id="color" name="color" value="<%= data.color %>" required>
        <br>
        <label for="obivka">Обивка:</label>
        <input type="text" id="obivka" name="obivka" value="<%= data.obivka %>" required>
        <br>
        <label for="engine_power">Мощность двигателя:</label>
        <input type="text" id="engine_power" name="engine_power" value="<%= data.engine_power %>" required>
        <br>
        <label for="door_number">Количество дверей:</label>
        <input type="text" id="door_number" name="door_number" value="<%= data.door_number %>" required>
        <br>
        <label for="korobka_peredach">Коробка передач:</label>
        <input type="text" id="korobka_peredach" name="korobka_peredach" value="<%= data.korobka_peredach %>" required>
        <br>
        <label for="id_postavshika">Номер поставщика:</label>
        <input type="text" id="id_postavshika" name="id_postavshika" value="<%= data.id_postavshika %>" required>
        <br>
        <input type="submit" value="Обновить">
    </form>
</body>

</html>